@model PizzaBox.WebClient.Models.PizzaViewModel;

<form asp-action="add" asp-controller="order" asp-antiforgery="true" method="POST">
  <section>
    <p>Select Pizza</p>
  </section>

  <div>
    <p>Select Pizza Type</p>
    @foreach (var item in @Model.AvailablePizzaNames)
    {
      <input type="radio" asp-for="@Model.ChosenPizza" value="@item">
      <label for="@item">@item</label>
    }
  </div>

  <div>
    <p>Select Crust Type</p>
    @foreach (var item in @Model.AvailableCrustNames)
    {
      <input type="radio" asp-for="@Model.ChosenCrust" value="@item">
      <label for="@item">@item</label>
    }
  </div>

  <div>
    <p>Select Size Type</p>
    @foreach (var item in @Model.AvailableSizeNames)
    {
      <input type="radio" asp-for="@Model.ChosenSize" value="@item">
      <label for="@item">@item</label>
    }
  </div>

  <button type="submit">Add Pizza to Order</button>
</form>