@model PizzaBox.WebClient.Models.OrderViewModel;

<div>
    <header>
        <p>Pizzas in Order:</p>
    </header>

    <main>
        @foreach (var p in @Model.Pizzas)
        {
            <p>Pizza: @p.ChosenPizza</p>
            <p>Crust: @p.ChosenCrust</p>
            <p>Size: @p.ChosenSize</p>
            <p>Price: @p.TypePrice</p>
            <br>
        }
    </main>
</div>

<form asp-action="more" asp-controller="order" asp-antiforgery="true" method="POST">
  <button type="submit">Add Another Pizza</button>
</form>

<form asp-action="edit" asp-controller="order" asp-antiforgery="true" method="POST">
  <button type="submit">Edit Pizzas</button>
</form>

<form asp-action="checkout" asp-controller="order" asp-antiforgery="true" method="POST">
  <button type="submit">Place Order</button>
</form>