@model PizzaBox.WebClient.Models.OrderViewModel;

<div>
    <header>
        <h3>Pizzas in Order:</h3>
    </header>

    <main>
        @foreach (var p in @Model.Pizzas)
        {
            <p>Type: @p.ChosenPizza (@p.TypePrice)</p>
            <p>Crust: @p.ChosenCrust (@p.CrustPrice)</p>
            <p>Size: @p.ChosenSize (@p.SizePrice)</p>
            <p>Price: @p.GetTotalPrice()</p>
            <br>
        }
    </main>

    <footer>
        <p>Current Total: @Model.GetCurrentTally()</p>
    </footer>
</div>

<form asp-action="more" asp-controller="order" asp-antiforgery="true" method="GET">
  <button type="submit">Add Another Pizza</button>
</form>

<form asp-action="edit_order" asp-controller="order" asp-antiforgery="true" method="GET">
  <button type="submit">Edit Pizzas</button>
</form>

<form asp-action="checkout" asp-controller="order" asp-antiforgery="true" method="POST">
  <button type="submit">Place Order</button>
</form>